<!-- Contenido -->
<br><br><br>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            RFC
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos: </h4>
            <p class="card-text"> <strong>Nombre: </strong> <%- datos.nombre.toUpperCase() %> </p>
            <p class="card-text"> <strong>Apellido paterno: </strong> <%- datos.Apaterno.toUpperCase() %> </p>
            <p class="card-text"> <strong>Apellido materno: </strong> <%- datos.Amaterno.toUpperCase() %> </p>
            <p class="card-text"> <strong>Fecha de nacimiento: </strong> <%- datos.fecha %> </p>
            <br>
            <p class="card-text"> <strong>RFC: </strong> <%- MostrarRFC %> </p>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-outline-dark">Volver</a>
        </div>
    </div>
</div>